In [1]:
#Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
import ast

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Dataa Cleanup
df['data_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [2]:
# Only get DA jobs
df_DA_US = df[(df['job_title_short'] == 'Data Analyst') & (df['job_country'] == 'United States')].copy()

# Drop NaN values form the column plotting
df_DA_US = df_DA_US.dropna(subset=['salary_year_avg'])

In [11]:
dfdf_DA_US = df_DA_US.explode('job_skills')

df_DA_US[['salary_year_avg', 'job_skills']].head(5)

      salary_year_avg                                         job_skills
109           89000.0                      [python, r, alteryx, tableau]
180           90250.0                                [excel, powerpoint]
410          133285.0  [sql, word, excel, visio, powerpoint, sharepoint]
988           62623.0                              [sql, excel, tableau]
1413          71300.0                             [sql, excel, power bi]

In [13]:
# Step 1: Explode the list of skills into individual rows
df_DA_US_exploded = df_DA_US.explode('job_skills')

# Step 2: Group by each skill and calculate count and median salary
df_DA_skills = (
    df_DA_US_exploded
    .groupby('job_skills')['salary_year_avg']
    .agg(['count', 'median'])
    .sort_values(by='count', ascending=False)
)

In [16]:
df_DA_top_pay = df_DA_US.groupby('job_skills')['salary_year_avg'].agg(['count', 'median']).sort_values(by='median', ascending=False)

df_DA_top_pay = df_DA_top_pay.head(10)

df_DA_top_pay

TypeError: unhashable type: 'list'